<figure class="md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800 my-8 drop-shadow-2xl" style = "background-color: var(--global-member-bg);">
  {%- if project.img -%}
    <a class="w-20 h-25 md:w-60 md:h-auto  mx-auto self-center" href = "{{ project.link}}">
      <picture>
        <source srcset="../{{project.img }}-480.webp" type="image/webp">
        <source srcset="../{{project.img }}.png" type="image/png"> 
          <source srcset="../{{project.img }}.jpeg" type="image/jpeg"> 
        <img class="w-20 h-20 md:w-60 md:h-auto rounded-xl  mx-auto" src="../{{project.img }}" alt="" width="512" height="512"> 
      </picture>
    </a>
  {%- endif -%}
  <div class="pt-6 md:p-8 flex-wrap text-center md:text-left space-y-4">
    <h2 class="text-2xl grow font-bold"> {{ project.title}} </h2> 
    <p class=" font-light"> {{project.description}} </p>
    <div class="row ml-1 mr-1 p-0">
      {%- if project.website -%}
      <div class="icon" data-toggle="tooltip" title="Project website">
        <a href="{{ project.website }}"><svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" /> </svg></a>
      </div>
      {%- endif %}
      <div class="links">
        {%- if project.shinyapp %}
          <a href="{{ project.shinyapp }}" class="btn btn-sm z-depth-0" role="button">Shiny App</a>
        {%- endif %}
        {%- if project.link %}
          <a href="{{ project.link }}" class="btn btn-sm z-depth-0" role="button">Link</a>
        {%- endif %}
      </div>
      {%- if project.github -%}
      <div class="github-icon">
        <div class="icon" data-toggle="tooltip" title="Code Repository">
          <a href="{{ project.github }}"><i class="fab fa-github exp fa-2x"></i></a>
        </div>
        {%- if project.github_stars -%}
        <span class="stars" data-toggle="tooltip" title="GitHub Stars">
          <i class="fas fa-star"></i>
          <span id="{{ project.github_stars }}-stars"></span>
        </span>
        {%- endif %}
      </div>
      {%- endif %}
    </div>
  </div>

</figure>
          