---
layout: default
---

<h1 class="text-2xl grow font-extralight">{{ page.title }}</h1>
<br>
{{page.description}}

<div class="social">
    <div class="contact-icons">
    {% include social.html %}
    </div>

    <div class="contact-note">
      {{ site.contact_note }}
    </div>
    
  </div>

<br><br>

<div class="grid md:grid-cols-2 gap-4">
    <div>
        <h1 class="text-2xl grow font-extralight">Address</h1> <br>
        <p class = "font-bold">Centre of Inflammation Research,</p>
        <p class = "">Queen's Medical Research Institute, <br>
        University of Edinburgh, <br>
        EH16 4TJ, <br>
        Edinburgh, <br>
        United Kingdom <br> </p>
    </div>
    <div class = "place-self-center">
        <iframe class="rounded-xl" width="400" height="350" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2235.572074156915!2d-3.141319983937854!3d55.92211998638765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887b8ebc0df67a1%3A0xbe517390abd45fb3!2sQueen&#39;s%20Medical%20Research%20Institute!5e0!3m2!1sen!2suk!4v1660914232230!5m2!1sen!2suk"></iframe>
        <br>
        <br>
        
    </div>
</div>

