---
layout: default
---

<h1 class="text-2xl grow font-extralight">{{ page.title }}</h1>
<br>
{{page.description}}

<div class="social">
    <div class="contact-icons">
    {% include social.html %}
    </div>

    <div class="contact-note">
      {{ site.contact_note }}
    </div>
    
  </div>

<br><br>

<div class="grid md:grid-cols-2 gap-4">
    <div>
        <h1 class="text-2xl grow font-extralight">Address</h1> <br>
        <p class = "font-bold">Centre of Inflammation Research,</p>
        <p class = "">Institute for Regeneration and Repair, <br>
        University of Edinburgh, <br>
        EH16 4UU, <br>
        Edinburgh, <br>
        United Kingdom <br> </p>
    </div>
    <div class = "place-self-center">
        <iframe class="rounded-xl" width="400" height="350" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4709.745227475734!2d-3.1266129871059993!3d55.92198477963865!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887b9168c94d9e7%3A0x2edc4541bc4a80ba!2sInstitute%20for%20Regeneration%20and%20Repair!5e0!3m2!1sen!2suk!4v1689253378719!5m2!1sen!2suk"></iframe>
        <br>
        <br>
        
    </div>
</div>

